asn1crypto
attrs
Automat
certifi
cffi
chardet
colorclass
constantly
cryptography
cssselect
docopt
enum34
h2
hpack
hyperframe
hyperlink
idna
incremental
ipaddress
itemadapter
itemloaders
jmespath
lxml
mysqlclient
packaging
parsel
pip-upgrader
priority
Protego
pyasn1
pyasn1-modules
pycparser
PyDispatcher
PyHamcrest
pymongo
pyOpenSSL
pyparsing
queuelib
requests
Scrapy
service-identity
six
terminaltables
Twisted
urllib3
w3lib
zope.interface
